/* Your CSS styles here */
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div#page{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

div#panel{
    width: 18vw;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    padding: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div#logo{
    font-family: sans-serif;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
div#logo svg{
    color: #fff;
    width: 20px;
    padding: .6rem;
    background: linear-gradient(to bottom right,#14275e,#3557bb);
    border-radius: .5rem;

}

div#newchat-recentChats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#newchat-button{
    /* width: 300px; */
    margin-top: 2rem;
}

div#newchat-plus svg{
    margin-left: 1rem;
    color: #fff;
    width: 20px;
}

div#newchat-text{
    margin-left: 1rem;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

button#newchat{
    border: none;
    width: 230px;
    height: 50px;
    border-radius: 0.75rem;
    background-color: #1a2e6b;
    box-shadow: 0 5px 10px grey ;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.recentChatList{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    color: #6b7280;
    justify-content: flex-start;
    gap: 2rem;
}

div.recentChat{
    width: 200px;
    text-wrap: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    white-space-collapse: collapse;
}

div.recentChat a{
    all: unset;
}

div#sidebar-fotter{
    border-top: #6b7280;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#settings{
    border-top: gray;
}

div#settings button#settings{
    color: #6b7280;
    font-size: 18px;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;

    width: 230px;
    height: 40px;
    border-radius: 0.5rem;
}

div#settings div#settigs-icon{
    width: 25px;
}

div#user-info{
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
    padding-left: 5px;
    background-color: #f8fafc;
    border: 1px solid #e0e2e7;
}

div#profilepic svg{
    width: 25px;
    padding: 0.3rem;
    background-color: greenyellow;
    border-radius: 50%;
}

div#userinfo{
    display: flex;
    flex-direction: column;
}

div#plan-details{
    color: #6b7280;
    font-size: 0.625rem;
}

div#userinfo div#name{
    font-size: 0.75rem;
}






























div#newchat-recentChats{
    display: flex;
    flex-direction: column;
}
div.recentChatList{
    display: flex;
    flex-direction: column;
}

div#sidebar-fotter{
    display: flex;
    flex-direction: column;
}

div#settings{
    display: flex;
}

div#user-info{
    display: flex;
}

div#userinfo{
    display: flex;
    flex-direction: column;
}


div#chatarea-1{
    /* change to 80 % if needed */
    flex: 1;
    height: 100vh;
    /* chage the overflow to auto later on screen 2  */
    overflow: hidden; 

    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
}

div#header-chatarea{
    height: 10vh;

    display: flex;

}

div#charareabutton{
    margin-left: auto;
    width: 5%;
}

div#main-area{
    flex: 0 0 80%;
}

div#fotter-info{
    flex: 0 0 10%;
}
