/* Your CSS styles here */
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

div#page{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

div#panel{
    
    width: 260px;
    height: 100vh;
    /* margin-bottom: 0; */
    background-color: #fff;
    /* overflow: hidden; */
    padding: 1rem;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div#logo{
    font-family: sans-serif;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
div#logo svg{
    color: #fff;
    width: 20px;
    padding: .6rem;
    background: linear-gradient(to bottom right,#14275e,#3557bb);
    border-radius: .5rem;

}

div#newchat-recentChats{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 0; */
}

div#newchat-button{
    /* width: 300px; */
    margin-top: 2rem;
}

div#newchat-plus svg{
    margin-left: 1rem;
    color: #fff;
    width: 20px;
}

div#newchat-text{
    margin-left: 1rem;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
}

button#newchat{
    border: none;
    width: 230px;
    height: 50px;
    border-radius: 0.75rem;
    background-color: #1a2e6b;
    box-shadow: 0 5px 10px grey ;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

div.recentChatList{
    flex: 2;
    /* overflow-y: auto; */
    /* min-height: 0; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    color: #6b7280;
    justify-content: flex-start;
    gap: 2rem;
}

div.recentChat{
    width: 200px;
    text-wrap: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 0.75rem;
    white-space-collapse: collapse;
}

div.recentChat a{
    all: unset;
}

div#sidebar-fotter{
    border-top: #6b7280;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#settings{
    border-top: gray;
}

div#settings button#settings{
    color: #6b7280;
    font-size: 18px;
    border: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;

    width: 230px;
    height: 40px;
    border-radius: 0.5rem;
}

div#settings div#settigs-icon{
    width: 25px;
}

div#user-info{
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
    padding-left: 5px;
    background-color: #f8fafc;
    border: 1px solid #e0e2e7;
}

div#profilepic svg{
    width: 25px;
    padding: 0.3rem;
    background-color: greenyellow;
    border-radius: 50%;
}

div#userinfo{
    display: flex;
    flex-direction: column;
}

div#plan-details{
    color: #6b7280;
    font-size: 0.625rem;
}

div#userinfo div#name{
    font-size: 0.75rem;
}


div#chatarea-1{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f2f5;
    /* overflow: hidden; */
}

div#header-chatarea{
    /* width: 900px; */
    align-self: stretch;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div#sidepane-toggle svg{
    width: 30px;
}

div#sidepane-toggle{
    /* margin-right: auto; */
    margin-left: 10px;
}

div#notifications{
    margin-right: 20px;
}

div#notifications svg{
    width: 30px;
}

div#main-area{
    margin-top: 50px;
}

div#main-area div#chatarea-titile{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

div#greeting{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-family: sans-serif;

}

#greeting-1{
    font-size: 4rem;
    font-weight: 700;
    color: #333c4e;
}

#greeting-2{
    font-size: 4rem;
    font-weight: 700;

    /* this portion of gradientifying color was googled by me  */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image : linear-gradient(90deg, #1a2e6b, #2c499f, #405fa5);
}

div#baseline{
    margin-top: -30px;
    text-align: center;
    color: #6b7280;
    font-size: 1.2rem;
    font-family: sans-serif;
}

div#model-select{
    font-size: 20px;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 30px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    max-width: 100%;
    justify-content: center;
    gap: 4rem;
    padding: 0.375rem;
    border: 1px solid #e0e2e7;
}